@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
}

#topleft {
}

#topright {
}

#middleleft {
}

#middleright {
}

#bottommiddle {

}

#control-panel {
}

#title {
}

#switches {
}

.button {
}

#practice-game {
}

#real-game {
}

#turn {
}
.text2 {
}

.my-container {
    border: 1px solid green;

}
.my-row{
border: 3px solid red;
}

.my-col {
border: 3px dotted blue;
}
